<div class="about">
    <center><h2>
<a href="/about">About</a> | <a href="/about/news">Novità</a> | <a href="/about/usage">Guida all'uso</a> | <a href="/about/faq">FAQ</a> | <a href="/about/stats">Statistiche</a> | Privacy</h2></center>

    <p style="text-align: left;">Il keyserver pubblico su keys.openpgp.org elabora, immagazzina e
distribuisce dati delle chiavi OpenPGP. Il modo specifico in cui i dati vengono elaborati
differisce per ogni tipo come segue:</p>
<ul>
<li>
<b>Indirizzi email</b><p>Gli indirizzi email contenuti negli <abbr title="Packet Tag 13">User IDs</abbr> sono dati identificativi (DI).
Particolare cura è posta per essere sicuri che siano usati solo con
l'espresso consenso:</p>
<ul>
<li>Pubblicare richiede una verifica a <a target="_blank" href="https://en.wikipedia.org/wiki/Opt-in_email#Confirmed_opt-in_(COI)_/_Double_opt-in_(DOI)">doppio opt-in</a>, per dimostrare il possesso
dell'indirizzo email in questione.</li>
                      <li>Gli indirizzi sono ricercabili per indirizzo email esatto,
ma non per nome associato.</li>
                      <li>L'elencazione degli indirizzi non è possibile.</li>
                      <li>La cancellazione degli indirizzi è possibile con una semplice prova della proprietà tramite un processo automatico, simile alla pubblicazione. Per rimuovere un indirizzo quando ciò non sia possibile, scrivere a support chiocciola keys punto openpgp punto org.</li>
                  </ul>
<p>Questi dati non sono mai forniti collettivamente ("come un dump") a terze parti.</p>
          </li>
          <li>
<b>Dati della chiave pubblica</b><p>Il contenuto crittografico delle chiavi OpenPGP non è considerato
come un dato identificativo. Questo include specificamente
<abbr title="Packet Tags 6 and 14">materiale della chiave pubblica</abbr>,
<abbr title="Packet Tag 2, Signature types 0x10-0x13, 0x18, 0x19, 0x1F">auto-firma</abbr>, and
<abbr title="Packet Tag 2, Signature types 0x20, 0x28, 0x30">firme di revoca</abbr>.</p>
              <p>Questi dati non sono disponibili collettivamente ("come un dump"), ma possono essere forniti dietro richiesta a terze parti per scopo di ricerca e sviluppo.</p>
          </li>
          <li>
<b>Altri dati dell'User ID</b><p>Una chiave OpenPGP può contenere daiti personali oltre all'indirizzo email
, quali <abbr title="Packet Tag 13">User IDs</abbr>
che non contengono indirizzi email, o <abbr title="Packet Tag 17">attributi immagine</abbr>. Questi dati sono estrapolati
durante il caricamento e mai conservati, elaborati o distribuiti in
alcun modo.</p>
              <p>I tipi di pacchetto OpenPGP che non sono specificamente sovramenzionati sono
estrapolati durante il caricamento e mai conservati, elaborati o
distribuiti in alcun modo.</p>
          </li>
      </ul>
<p style="text-align: left">I dati non sono mai forniti a terze parti in altro modo fuori da
quanto disponibile tramite le <a href="/about/api">interfacce API pubblicamente disponibili</a>,
e quello che è descritto in questa policy.</p>
</div>
