# Ignore all .pem, .crt, and .key files
*.pem
*.crt
*.key

# Ignore large files
*.tar.gz
*.iso
*.bin
*.exe
*.dll
*.dylib
*.a

# Ignore the entire test-runs directory
/test-runs/

# Ignore compiled binaries
*.so
*.a
*.o

# Ignore build artifacts
*.log
*.out

# Ignore any temporary files
*.tmp
*~
/BlueTeam/
/RedTeam/
/KO/
/.gitmodules/
