<div class="about">
    <center><h2>
<a href="/about">서비스 소개</a> | <a href="/about/news">새 소식</a> | <a href="/about/usage">사용 안내</a> | <a href="/about/faq">자주 묻는 질문</a> | <a href="/about/stats">통계</a> | 개인 정보 보호</h2></center>

    <p style="text-align: left;">keys.openpgp.org 도메인에서 동작하는 공공 키서버는 OpenPGP 키 데이터를 처리, 저장, 배포합니다.  어떤 데이터가 어떻게 처리되는지는 해당 데이터 종류에 따라 달라집니다.</p>
<ul>
<li>
<b>전자 메일 주소</b><p><abbr title="패킷 태그 13번">사용자 ID</abbr>에 포함된 전자 메일 주소는 개개인을 특정할 수 있는 개인 정보입니다. 따라서 해당 개인 정보는 다음과 같은 특수 절차를 거쳐 오로지 본인 동의가 있어야만 사용 가능하도록 처리됩니다:</p>
<ul>
<li>해당 전자 메일 주소는 <a target="_blank" href="https://en.wikipedia.org/wiki/Opt-in_email#Confirmed_opt-in_(COI)_/_Double_opt-in_(DOI)">참여 이중 확인</a> 절차를 통해 주소 소유권을 인증해야만 공개할 수 있습니다.</li>
                      <li>주소는 연관된 이름만으로는 찾을 수 없고, 오로지 완전한 전자 메일 주소로만 찾을 수 있습니다.</li>
                      <li>연관 없는 여러 주소를 한 번에 얻어낼 수는 없습니다.</li>
                      <li>주소 정보를 지우는 건 자동화된 간단한 소유권 인증 절차를 통해 가능합니다. 만약 이게 불가능한 상황이라면 support 골뱅이 keys 닷 openpgp 닷 org 주소로 도움을 요청하세요.</li>
                  </ul>
<p>이 개인 정보는 절대로 제삼자에게 '데이터 뭉치'의 형태로 전달되지 않습니다.</p>
          </li>
          <li>
<b>공개키 데이터</b><p>OpenPGP 키의 암호학적 데이터는 개인 정보로 간주되지 않습니다. 암호학적 데이터란 <abbr title="패킷 태그 6번과 14번">공개키 정보</abbr>, <abbr title="패킷 태그 2번, 서명 타입 0x10-0x13, 0x18, 0x19, 0x1F">자가 서명</abbr>, 그리고 <abbr title="패킷 태그 2번, 서명 타입 0x20, 0x28, 0x30">철회 서명</abbr>을 의미합니다.</p>
              <p>이 데이터는 대개의 경우 '데이터 뭉치'의 형태로 제공되지는 않습니다만, 연구 및 개발 목적으로 요청이 들어올 경우 제공될 수도 있습니다.</p>
          </li>
          <li>
<b>기타 사용자 ID 데이터</b><p>OpenPGP 키는 전자 메일 주소 이외의 개인 정보를 담고 있을 수 있습니다. 이러한 정보에는 전자 메일 주소가 아닌 <abbr title="패킷 태그 13번">사용자 ID</abbr>, <abbr title="패킷 태그 17번">이미지 데이터</abbr> 등이 있습니다. 이러한 데이터는 올리기 과정에서 미리 제거됩니다. 따라서 절대로 저장·처리·배포되지 않습니다.</p>
              <p>위에서 명시적으로 언급하지 않은 OpenPGP 패킷 타입은 올리기 과정에서 미리 제거됩니다. 따라서 절대로 저장·처리·배포되지 않습니다.</p>
          </li>
      </ul>
<p style="text-align: left">위에서 언급한 데이터 제공 방식과 <a href="/about/api">공개 API 인터페이스</a>에서 접근 가능한 범위 외적으로는 제삼자에게 데이터를 제공하지 않습니다.</p>
</div>
