<div class="about">
    <center><h2>‫<a href="/about">حول</a> | <a href="/about/news">اﻷخبار</a> | <a href="/about/usage">الاستخدام</a> | <a href="/about/faq">اﻷسئلة الشائعة</a> | <a href="/about/stats">اﻹحصاءات</a> | حماية البيانات‬</h2></center>

    <p style="text-align: left;">‫يقوم خادم المفاتيح الذي يشتغل خلف keys.openpgp.org بمعالجة وتخزين وتوزيع البيانات المتعلقة بمفاتيح OpenPGP. تُعالَج البيانات بطريقة ملائمة لنوعيتها كما يلي :‬</p>
<ul>
<li>
<b>عناوين البريد الإلكتروني</b><p>تتضمن <abbr title="Packet Tag 13">مُعرِّفات المستخدم</abbr> عناوين البريد الإلكتروني، وهذه اﻷخيرة هي معلومات تُمكِّن من تحديد هوية مالكها. لذلك، تُتخَذ احتياطات استثنائية لضمان استخدامها فقط بعد الموافقة على ذلك :‏</p>
<ul>
<li>يتطلب نشرها تأكيد <a target="_blank" href="https://fr.wikipedia.org/wiki/Opt_in">الموافقة مرتين</a> وذلك ﻹثبات ملكية عنوان البريد الإلكتروني المقصود.‏</li>
                      <li>يمكن العثور على عناوين البريد اﻹلكتروني عبر كتابتها بالكامل، وليس فقط بالأسماء المرتبطة بها.‏</li>
                      <li>لا يمكن عدّ العناوين.‏</li>
                      <li>‫من الممكن حذف العناوين عبر إثبات يسير لملكيتها، بطريقة تلقائية، تشبه التي استُخدمَت خلال عملية نشرها. إذا تعذر عليك إزالة العنوان، يكفي مراسلتنا عبر البريد اﻹلكتروني : Support في keys نقطة openpgp نقطة org.‬</li>
                  </ul>
<p>لا تُعطَى هذه البيانات لأطراف أخرى بشكل مُجمَّع (بيانات مُفرَّغة).‏</p>
          </li>
          <li>
<b>بيانات المفاتيح العمومية</b><p>إن محتويات بيانات التعمية لمفاتيح OpenPGP ليست معلومات مُحدِّدة لهوية مالكيها. يتعلق اﻷمر تحديدا ب<abbr title="Balises de paquet 6 et 14">محتويات المفاتيح العمومية</abbr>، و<abbr title="Balise de paquet 6, types de signature 0x10-0x13, 0x18, 0x19, 0x1F">التوقيعات الذاتية</abbr>، وكذا <abbr title="Balise de paquet 2, types de signature 0x20, 0x28, 0x30">توقيعات النقض</abbr>.</p>
              <p>في الغالب، لا تكون هذه البيانات متاحة بشكل مُجمَّع (بيانات مُفرَّغة)، لكن يمكن إعطاؤها لأطراف أخرى بغرض التطوير أو إجراء اﻷبحاث.‏</p>
          </li>
          <li>
<b>بيانات معرِّفات المستخدمين اﻷخرى</b><p>‫قد يتضمن مفتاح OpenPGP بيانات شخصية أخرى غير عناوين البريد اﻹلكتروني، مثل <abbr title="Balise de paquet 13">مُعرِّفات المستخدمين</abbr> التي لا تحتوي على عناوين البريد اﻹلكتروني، أو <abbr title="Balise de paquet 17">صفات الصور</abbr>. لذلك، تُزال هذه البيانات خلال الرفع. إذ، لا تُخزَّن ولا تُعالَج ولا تُوزَّع أبدا، في أي حال من اﻷحوال.‬</p>
              <p>‫إن صنف حزم OpenPGP التي لم يَجْرِ ذكرها تحديدا كما سبق، ستتم إزالتها خلال عملية الرفع. إذ، لا تُخزَّن ولا تُعالَج ولا تُوزَّع، في أي حال من اﻷحوال.‬</p>
          </li>
      </ul>
<p style="text-align: left">لا تُرسَل أبدا أي بيانات لأطراف أخرى غير التي هي متاحة في <a href="/about/api">الواجهة العمومية لبرمجة التطبيقات</a>، بما في ذلك، تلك المذكورة في سياسة المعالجة هذه.‏</p>
</div>
