<div class="about">
    <center><h2>
<a href="/about">Hakkında</a> | <a href="/about/news">Haberler</a> | <a href="/about/usage">Kullanım</a> | <a href="/about/faq">SSS</a> | <a href="/about/stats">İstatistikler</a> | Mahremiyet</h2></center>

    <p style="text-align: left;">keys.openpgp.org adresinde sunulan herkese açık anahtar sunucusu OpenPGP anahtar verisini işler, saklar ve dağıtır. Verinin nasıl işlendiği verinin türüne göre aşağıdaki şekilde değişmektedir:</p>
<ul>
<li>
<b>E-posta Adresleri</b><p><abbr title="Packet Tag 13">Kullanıcı ID</abbr> içerisindeki e-posta adresleri kişileri tanımlamak için kullanılabilecek bir bilgidir. Sadece kullanıcının rızasıyla kullanıldığından emin olmak için özel bir çaba gösterilmektedir:</p>
<ul>
<li>Yayınlanması, söz konusu e-posta adresinin sahibi olduğunu kanıtlamak amacıyla <a target="_blank" href="https://en.wikipedia.org/wiki/Opt-in_email#Confirmed_opt-in_(COI)_/_Double_opt-in_(DOI)">iki aşamalı katılım</a> gerektiren bir doğrulama gerektirir.</li>
                      <li>Adresler, bütün adres kullanılarak aranabilse de, ilişkiili isimle aranmaları mümkün değildir.</li>
                      <li>Adreslerin listelenmesi mümkün değildir.</li>
                      <li>Adreslerin silinmesi, yayınlamaya benzer bir şekilde, kolay bir otomatik sahibi olduğunu kanıtlama yöntemiyle mümkündür. Bu yöntemin mümkün olmadığı bir adresi kaldırmak için support at dot openpgp dot org adresine bir mesaj gönderebilirsiniz.</li>
                  </ul>
<p>Bu veri hiç bir zaman toplu olarak ("döküm olarak") üçüncü partilere verilmemektedir.</p>
          </li>
          <li>
<b>Açık Anahtar Verisi</b><p>OpenPGP anahtarlarının kriptografik içeriği kişiyi tanımlayabilecek bir bilgi olarak değerlendirilmemektedir. Bu veri özellikle
<abbr title="Packet Tags 6 and 14">açık anahtar malzemesini</abbr>
<abbr title="Packet Tag 2, Signature types 0x10-0x13, 0x18, 0x19, 0x1F">kişi imzalarını</abbr>, ve
<abbr title="Packet Tag 2, Signature types 0x20, 0x28, 0x30">fesih imzalarını</abbr> içeriyor.</p>
              <p>Bu veri genellikle toplu olarak ("döküm olarak") mevcut değil ama talep doğrultusunda araştırma amacıyla üçüncü partilere verilebilir.</p>
          </li>
          <li>
<b>Diğer Kullanıcı ID verisi</b><p>Bir OpenPGP anahtarı, e-posta adresi dışında, e-posta adresi içermeyen <abbr title="Packet Tag 13">Kullanıcı ID</abbr> veya <abbr title="Packet Tag 17">resim özellikleri</abbr> gibi kimi kişisel bilgiyi içerebilir. Bu veriler yükleme sırasında kaldırılıyor ve hiç bir zaman, hiç bir şekilde saklanmıyor, işlenmiyor veya dağıtılmıyor.</p>
              <p>Yukarı özellikle belirtilmeyen OpenPGP paket türleri yükleme sırasında kaldırılıyor ve hiç bir zaman, hiç bir şekilde saklanmıyor, işlenmiyor veya dağıtılmıyor.</p>
          </li>
      </ul>
<p style="text-align: left">Bu sayfada tanımlananlar ve <a href="/about/api">herkese açık API arayüzlerinin</a>sunduklarının dışındaki hiç bir veri üçüncü partilere aktarılmıyor.</p>
</div>
