<div class="about">
    <center><h2>
<a href="/about">Over</a> | <a href="/about/news">Nieuws</a> | <a href="/about/usage">Gebruik</a> | <a href="/about/faq">FAQ</a> | <a href="/about/stats">Statistieken</a> | Privacy</h2></center>

    <p style="text-align: left;">De openbare sleutelserver die draait op keys.openpgp.org verwerkt, bewaard en
verspreidt OpenPGP-sleutelgegevens. De specifieke manier waarop gegevens worden verwerkt
verschilt per type als volgt:</p>
<ul>
<li>
<b>E-mailadressen</b><p>E-mailadressen in <abbr title="Packet Tag 13">Gebruiker
ID's</abbr> zijn persoonlijk identificeerbare informatie (PII).
Er wordt speciaal op gelet dat ze alleen worden gebruikt met
toestemming:</p>
<ul>
<li>Publicatie vereist <a target="_blank" href="https://en.wikipedia.org/wiki/Opt-in_email#Confirmed_opt-in_(COI)_/_Double_opt-in_(DOI)">dubbelle
opt-in</a> validatie, als bewijs van eigendom van het
e-mailadres in kwestie.</li>
                      <li>Adressen zijn doorzoekbaar op exact e-mailadres,
maar niet met bijbehorende naam.</li>
                      <li>Opsomming van adressen is niet mogelijk.</li>
                      <li>Het verwijderen van adressen is mogelijk via eenvoudig bewijs
van eigendom op een geautomatiseerde manier, vergelijkbaar met
publicatie. Om een adres te verwijderen waar dit niet mogelijk is,
schrijf naar support apenstaartje keys punt openpgp punt
org.</li>
                  </ul>
<p>Deze gegevens worden nooit collectief ("als een dump") aan derden partijen 
overgedragen.</p>
          </li>
          <li>
<b>Openbare sleutels gegevens</b><p>De cryptografische inhoud van OpenPGP-sleutels wordt niet persoonlijk beschouwd
identificeerbare informatie. Dit omvat specifiek
<abbr title="Packet Tags 6 and 14">openbare sleutel gegevens</abbr>,
<abbr title="Packet Tag 2, Signature types 0x10-0x13, 0x18, 0x19, 0x1F">zelfhandtekeningen</abbr> en
<abbr title="Packet Tag 2, Signature types 0x20, 0x28, 0x30">intrekkingshandtekeningen</abbr>.</p>
              <p>Deze gegevens zijn meestal niet collectief beschikbaar ("als
een dump"), maar kan op verzoek aan derden partijen worden overhandigd
voor ontwikkelingsdoeleinden of onderzoek.</p>
          </li>
          <li>
<b>Andere gebruikers-ID-gegevens</b><p>Een OpenPGP-sleutel kan andere persoonlijke gegevens dan
e-mailadressen, zoals <abbr title="Packet Tag 13">gebruikers-ID's</abbr>
die geen e-mailadressen zijn of <abbr title="Packet Tag 17">afbeeldingskenmerken</abbr> bevatten. Deze gegevens worden gestript
tijdens het uploaden en nooit opgeslagen, verwerkt of gedistribueerd op
welke manier dan ook.</p>
              <p>OpenPGP-pakkettypen die hierboven niet specifiek zijn genoemd, worden
gestript tijdens het uploaden en nooit opgeslagen, verwerkt of
verdeeld op welke manier dan ook.</p>
          </li>
      </ul>
<p style="text-align: left">Gegevens worden nooit gedeeld met derden buiten wat beschikbaar is via de <a href="/about/api">openbare API-interfaces</a> en wat wordt beschreven in dit beleid.</p>
</div>
