<div class="about">
    <center><h2>
<a href="/about">Acerca</a> | <a href="/about/news">Noticias</a> | <a href="/about/usage">Cómo usar</a> | <a href="/about/faq">FAQ</a> | <a href="/about/stats">Estadísticas</a> | Privacidad</h2></center>

    <p style="text-align: left;">El servidor público que funciona en keys.openpgp.org procesa, almacena y distribuye datos de claves OpenPGP. La manera específica en que se procesan los datos difiere por tipo, de esta manera:</p>
<ul>
<li>
<b>Direcciones de correo</b><p>Las direcciones de correo contenidas en los <abbr title="Packet Tag 13">User
                      IDs</abbr> son información personal identificable (PII).
                  Tenemos cuidado de que sólo se usen con consentimiento:</p>
<ul>
<li>Publicar requiere <a target="_blank" href="https://en.wikipedia.org/wiki/Opt-in_email#Confirmed_opt-in_(COI)_/_Double_opt-in_(DOI)">doble
confirmación</a>, para corroborar la propiedad del
correo electrónico en cuestión.</li>
                      <li>Puedes buscar direcciones por la dirección de correo electrónico exacta
pero no por nombre asociado.</li>
                      <li>Enumerar las direcciones no es posible.</li>
                      <li>Eliminar direcciones es posible mediante una simple prueba
de propiedad en una forma particular automatizada, similar a
publicarla. Para eliminar una dirección donde no es
posible, escriba a soporte en keys dot openpgp dot
org.</li>
                  </ul>
<p>Estos datos nunca son entregados colectivamente ("como un vertedero")
a terceros.</p>
          </li>
          <li>
<b>Información de Clave Pública</b><p>EL contenido criptográfico de las claves OpenPGP no es considerado Información
                  Personal Identificable. Esto incluye específicamente
                  <abbr title="Packet Tags 6 and 14">material de clave pública</abbr>,
                  <abbr title="Packet Tag 2, Signature types 0x10-0x13, 0x18, 0x19, 0x1F">auto-firmas</abbr>, y
                  <abbr title="Packet Tag 2, Signature types 0x20, 0x28, 0x30">firmas de revocación</abbr>.</p>
              <p>Estos datos usualmente no están disponibles colectivamente ("como
un vertedero"), pero pueden ser entregados mediante una solicitud
a terceros con propósitos de desarrollo o investigación.</p>
          </li>
          <li>
<b>Otros datos de identificación de usuario</b><p>Una clave OpenPGP puede contener datos personales además de la dirección
de correo electrónico, tales como<abbr title="Packet Tag 13">IDs de Usuario</abbr>
que no contienen direcciones de correo electrónico, o <abbr title="Packet Tag 17">atributos de imagen</abbr>. Estos datos son extraídos
durante la subida y nunca son almacenados, procesados, o distribuidos de
cualquier forma.</p>
              <p>Los tipos de paquetes OpenPGP que no fueron específicamente mencionados arriba son
extraídos durante la subida y nunca son almacenados, procesados o
distribuidos de cualquier forma.</p>
          </li>
      </ul>
<p style="text-align: left">Los datos nunca son dados a terceros a excepción de
lo que está disponible desde las<a href="/about/api">interfaces publicas de la API</a>,
Y lo que es descrito en esta política.</p>
</div>
