<div class="about">
    <center><h2>
<a href="/about">Om</a> | <a href="/about/news">Nyheter</a> | <a href="/about/usage">Använda</a> | <a href="/about/faq">FAQ</a> | <a href="/about/stats">Statistik</a> | Integritet</h2></center>

    <p style="text-align: left;">Den publika nyckelserver som körs på keys.openpgp.org bearbetar, lagrar och
        distribuerar OpenPGP-nyckeldata. Det specifika sättet informationen bearbetas på
        skiljer sig åt efter typ enligt följande:</p>
<ul>
<li>
<b>E-postadresser</b><p>E-postadresser som ingår i <abbr title="Packet Tag 13">användar-
                      ID:n</abbr> är personligt identifierbar information (PII).
                  Stor vikt läggs vid att säkerställa att de endast används med
                  samtycke:</p>
<ul>
<li>Publicering kräver <a target="_blank" href="https://en.wikipedia.org/wiki/Opt-in_email#Confirmed_opt-in_(COI)_/_Double_opt-in_(DOI)">dubbel
                              opt-in</a>-bekräftelse, för att bevisa att
                          e-postadressen i fråga ägs av användaren.</li>
                      <li>Adresser är sökbara via exakt e-postadress,
                          men inte via associerat namn.</li>
                      <li>Att lista adresser är inte möjligt.</li>
                      <li>Att radera adresser är möjligt genom att på ett enkelt sätt
                          bevisa att adressen ägs via en automatisk metod, liknande den
                          vid publicering. För att avlista en adress där detta inte
                          är möjligt, skriv till support at keys dot openpgp dot
                          org.</li>
                  </ul>
<p>Denna information lämnas aldrig över kollektivt ("som en dump") till
                  tredjepart.</p>
          </li>
          <li>
<b>Publik nyckel-information</b><p>Det kryptografiska innehållet i OpenPGP-nycklar anses inte vara personligt
                  identifierbar information. Detta innefattar specifikt
                  <abbr title="Packet Tags 6 and 14">publik nyckel-material</abbr>,
                  <abbr title="Packet Tag 2, Signature types 0x10-0x13, 0x18, 0x19, 0x1F">egen-signaturer</abbr> och
                  <abbr title="Packet Tag 2, Signature types 0x20, 0x28, 0x30">återkallelse-signaturer</abbr>.</p>
              <p>Denna information är typiskt sett inte tillgänglig tillsammans (”som
                  en dump”), men kan efter begäran lämnas ut till tredjepart 
                  i utvecklings- eller forskningssyfte.</p>
          </li>
          <li>
<b>Övrig användar-ID-data</b><p>En OpenPGP-nyckel kan innehålla annan personlig information utöver
                  e-postadresser, så som <abbr title="Packet Tag 13">användar-ID:n</abbr>
                  som inte innehåller e-postadresser, eller <abbr title="Packet Tag 17">bildattribut</abbr>. Denna information
              tas bort vid uppladdning och lagras, bearbetas eller distribueras inte
              på något sätt.</p>
              <p>Typer av OpenPGP-paket som inte nämns specifikt ovan tas bort
                 vid uppladdning och lagras, bearbetas eller distribueras
                  inte på något sätt.</p>
          </li>
      </ul>
<p style="text-align: left">Data vidarebefordras aldrig till tredjepart förutom det
          som är tillgängligt från de <a href="/about/api">publika API-gränssnitten</a>,
          och vad som beskrivs i denna policy.</p>
</div>
