openssl_conf = openssl_init

# Comment out the next line to ignore configuration errors
config_diagnostics = 1


[openssl_init]
providers = provider_sect

[provider_sect]
default = default_sect
fips = fips_sect

[default_sect]
activate = yes


[fips_sect]
activate = 1
install-version = 1
conditional-errors = 1
security-checks = 1
tls1-prf-ems-check = 1
drbg-no-trunc-md = 1
module-mac = C2:77:85:2C:B7:B8:4C:3F:CB:67:81:67:DD:59:0E:E9:8F:C5:B6:FE:BE:48:4E:EF:94:0D:A2:50:78:6F:01:BE
