[Unit]
Description=wkd-domain-checker
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/wkd-domain-checker
ExecStart=/root/wkd-domain-checker/venv/bin/gunicorn --log-level=info wkd-domain-checker:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
User=nobody
PrivateTmp=true

[Install]
WantedBy=default.target
