<div class="about">
    <center><h2>
<a href="/about">Über</a> | <a href="/about/news">News</a> | <a href="/about/usage">Nutzung</a> | <a href="/about/faq">FAQ</a> | <a href="/about/stats">Statistik</a> | Privacy Policy</h2></center>

    <p style="text-align: left;">Der öffentliche Schlüsselserver, der auf keys.openpgp.org läuft, verarbeitet, speichert und
verteilt OpenPGP-Schlüssel-Daten. Die konkrete Art der Verarbeitung
unterscheidet sich je nach Typ wie folgt:</p>
<ul>
<li>
<b>E-Mail Adressen</b><p>E-Mail Adressen, die in <abbr title="Packet Tag 13">Nutzer IDs</abbr> enthalten sind, sind personenbezogene Informationen.
Es wird besonders darauf geachtet, dass diese nur mit einer Einwilligung verarbeitet werden.</p>
<ul>
<li>Das Veröffentlichen benötigt eine <a target="_blank" href="https://en.wikipedia.org/wiki/Opt-in_email#Confirmed_opt-in_(COI)_/_Double_opt-in_(DOI)">Double-Opt-In</a> Bestätigung, um den Besitz der fraglichen E-Mail Adresse nachzuweisen.</li>
                      <li>Adressen kann man über die exakte E-Mail Adresse suchen,
nicht aber über den damit verbundenen Namen.</li>
                      <li>Das Auflisten von Adressen ist nicht möglich.</li>
                      <li>Das Löschen von Adressen ist über einen einfachen Besitznachweis, ähnlich wie beim Veröffentlichen, möglich. Um eine Adresse zu entfernen bei der das nicht möglich ist, wenden sie sich bitte an support at keys Punkt openpgpg Punkt org.</li>
                  </ul>
<p>Diese Daten werden niemals gesammelt (als "Dump") an Dritte weitergegeben.</p>
          </li>
          <li>
<b>Öffentliche Schlüssel</b><p>Der kryptografische Inhalt von OpenPGP-Schlüssel wird nicht als personenbezogene Informationen gewertet. Das beinhaltet besonders
<abbr title="Packet Tags 6 and 14">Material öffentlicher Schlüssel</abbr>,
<abbr title="Packet Tag 2, Signature types 0x10-0x13, 0x18, 0x19, 0x1F">eigene Signaturen</abbr> und
<abbr title="Packet Tag 2, Signature types 0x20, 0x28, 0x30">Widerrufssignaturen</abbr>.</p>
              <p>Diese Daten sind normalerweise nicht gesammelt (als "Dump") verfügbar, können aber bei Anforderung an Dritte zum Zweck der Weiterentwicklung oder Forschung weitergegeben werden.</p>
          </li>
          <li>
<b>Andere Benutzerkennungen</b><p>Ein OpenPGP Schlüssel kann andere persönliche Daten als E-Mail Adressen wie <abbr title="Packet Tag 13">Benutzerkennungen</abbr>, die keine E-Mail Adressen enthalten, oder <abbr title="Packet Tag 17">Bildanhänge</abbr> enthalten. Diese Daten werden beim Hochladen entfernt und niemals in irgend einer Weise gespeichert, verarbeitet oder weitergegeben.</p>
              <p>OpenPGP Packet-Typen die nicht explizit oben genannt wurden werden beim Hochladen entfernt sowie nie gespeichert, verarbeitet oder in irgendeiner Form weitergegeben.</p>
          </li>
      </ul>
<p style="text-align: left">Daten werden niemals an Dritte außerhalb des Bereichs der <a href="/about/api">öffentlichen API Schnittstellen</a> und wie dieser Richtlinie beschrieben weitergegeben.</p>
</div>
