[fips_sect]
activate = 1
install-version = 1
conditional-errors = 1
security-checks = 1
tls1-prf-ems-check = 0
drbg-no-trunc-md = 1
module-mac = 1F:89:CA:B3:57:37:BA:5B:A0:7A:64:FE:DE:BC:EB:E9:F3:9E:02:14:41:DB:E2:EA:14:3C:B1:B9:53:C6:A2:BB
